In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

In [2]:
# Read the csv file into a pandas DataFrame
salary_csv = os.path.join('..', 'data', 'salary_model_data.csv')

salary_stat_df = pd.read_csv(salary_csv)
salary_stat_df = salary_stat_df.rename(columns={'\n\t\t\t\t\t\t\t2017/18\t\t\t\t\t\t': '2018_Salary'})
salary_stat_df.head(10)

,Unnamed: 0,Year,Player,GS,MP,PER,TRB%,AST%,STL%,BLK%,...,3P%,2P%,FTA,FT%,PTS,mvp,height,weight,years_played,2018_Salary
0,0,2017,Derrick Rose,64,2082,17.0,6.4,22.8,1.1,0.7,...,0.217,0.487,253.0,0.874,1154,Not MVP,190.0,86.0,8,"$2,533,488"
1,1,2017,Dirk Nowitzki,54,1424,17.0,14.4,10.6,1.1,2.4,...,0.378,0.463,112.0,0.875,769,Not MVP,213.0,111.0,19,"$5,000,000"
2,2,2017,Kevin Durant,62,2070,27.6,13.6,23.1,1.5,3.8,...,0.375,0.608,384.0,0.875,1555,Not MVP,206.0,108.0,10,"$25,000,000"
3,3,2017,LeBron James,74,2794,27.0,12.6,41.3,1.6,1.3,...,0.363,0.611,531.0,0.674,1954,Not MVP,203.0,113.0,14,"$33,285,709"
4,4,2017,Russell Westbrook,81,2802,30.6,17.1,57.3,2.3,0.9,...,0.343,0.459,840.0,0.845,2558,MVP,190.0,90.0,9,"$28,299,399"
5,5,2017,Stephen Curry,79,2638,24.6,7.3,31.1,2.6,0.5,...,0.411,0.537,362.0,0.898,1999,Not MVP,190.0,86.0,8,"$34,682,550"
6,7,2017,Aaron Brooks,0,894,9.5,4.3,20.7,1.4,0.9,...,0.375,0.424,40.0,0.800,322,Not MVP,183.0,73.0,9,"$2,116,955"
7,8,2017,Aaron Gordon,72,2298,14.4,9.6,10.5,1.4,1.4,...,0.288,0.528,217.0,0.719,1019,Not MVP,206.0,99.0,3,"$5,504,419"
8,9,2017,Aaron Harrison,0,17,-2.2,9.7,22.6,0.0,0.0,...,0.000,0.000,2.0,0.500,1,Not MVP,198.0,95.0,2,"$174,570"
9,10,2017,Adreian Payne,0,135,14.4,14.3,8.0,3.0,4.4,...,0.200,0.513,19.0,0.737,63,Not MVP,208.0,107.0,3,"$75,000"

In [29]:
# drop data not used in model
model_data = salary_stat_df.iloc[:, 3:]
model_data.head(10)

,GS,MP,PER,TRB%,AST%,STL%,BLK%,TOV%,WS,FG%,3P%,2P%,FTA,FT%,PTS,mvp,height,weight,years_played,2018_Salary
0,64,2082,17.0,6.4,22.8,1.1,0.7,11.9,3.0,0.471,0.217,0.487,253.0,0.874,1154,Not MVP,190.0,86.0,8,"$2,533,488"
1,54,1424,17.0,14.4,10.6,1.1,2.4,6.6,2.5,0.437,0.378,0.463,112.0,0.875,769,Not MVP,213.0,111.0,19,"$5,000,000"
2,62,2070,27.6,13.6,23.1,1.5,3.8,10.4,12.0,0.537,0.375,0.608,384.0,0.875,1555,Not MVP,206.0,108.0,10,"$25,000,000"
3,74,2794,27.0,12.6,41.3,1.6,1.3,16.1,12.9,0.548,0.363,0.611,531.0,0.674,1954,Not MVP,203.0,113.0,14,"$33,285,709"
4,81,2802,30.6,17.1,57.3,2.3,0.9,15.9,13.1,0.425,0.343,0.459,840.0,0.845,2558,MVP,190.0,90.0,9,"$28,299,399"
5,79,2638,24.6,7.3,31.1,2.6,0.5,13.0,12.6,0.468,0.411,0.537,362.0,0.898,1999,Not MVP,190.0,86.0,8,"$34,682,550"
6,0,894,9.5,4.3,20.7,1.4,0.9,17.2,0.3,0.403,0.375,0.424,40.0,0.800,322,Not MVP,183.0,73.0,9,"$2,116,955"
7,72,2298,14.4,9.6,10.5,1.4,1.4,8.5,3.7,0.454,0.288,0.528,217.0,0.719,1019,Not MVP,206.0,99.0,3,"$5,504,419"
8,0,17,-2.2,9.7,22.6,0.0,0.0,0.0,-0.1,0.000,0.000,0.000,2.0,0.500,1,Not MVP,198.0,95.0,2,"$174,570"
9,0,135,14.4,14.3,8.0,3.0,4.4,11.4,0.2,0.426,0.200,0.513,19.0,0.737,63,Not MVP,208.0,107.0,3,"$75,000"

In [80]:
# prepare stats data
X = model_data.iloc[:, :-1]

# transform MVP column to binary
X = pd.get_dummies(X)

In [79]:
# prepare salary data
y = model_data[['2018_Salary']]

# convert salaries to floats
y = y.replace('[\$,]', '', regex=True).astype(float)

In [32]:
# confirm stat and salary data shape
print(X.shape, y.shape)

(359, 20) (359, 1)

In [33]:
# Use train_test_split to create training and testing data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [34]:
# # create standard scaler
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X_train)
y_scaler = StandardScaler().fit(y_train)

In [35]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
y_train_scaled = y_scaler.transform(y_train)
y_test_scaled = y_scaler.transform(y_test)

In [36]:
# Create the model using LinearRegression
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [37]:
# Fit the model to the training data and calculate the scores for the training and testing data
model.fit(X_train_scaled, y_train_scaled)
training_score = model.score(X_train_scaled, y_train_scaled)
testing_score = model.score(X_test_scaled, y_test_scaled)

# model.fit(X_train, y_train)
# training_score = model.score(X_train, y_train)
# testing_score = model.score(X_test, y_test)

print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.6590911598720943
Testing Score: 0.5188289835013304

In [69]:
coefficients = model.coef_[0]
coefficients

0.22690232932385676

In [39]:
from sklearn.feature_selection import f_regression

f_scores, p_values = f_regression(X_train_scaled, y_train_scaled, center=True)

/Users/stsoiasue/anaconda3/envs/PythonData/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [51]:
stats_list = X_train.columns
stats_list

Index(['GS', 'MP', 'PER', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'WS', 'FG%',
       '3P%', '2P%', 'FTA', 'FT%', 'PTS', 'height', 'weight', 'years_played',
       'mvp_MVP', 'mvp_Not MVP'],
      dtype='object')

In [70]:
stat_dict = {
    'statistic': [],
    'f_score': [],
    'p_value': [],
    'coefficient': []
}

for stat, f_score, p_value, coef in zip(stats_list, f_scores, p_values, model.coef_[0]):
    
    stat_dict['statistic'].append(stat)
    stat_dict['coefficient'].append(coef)
    stat_dict['f_score'].append(f_score)
    stat_dict['p_value'].append(p_value)

In [71]:
stat_df = pd.DataFrame(stat_dict)
stat_df

    coefficient     f_score       p_value     statistic
0      0.226902  164.095574  1.315558e-29            GS
1     -0.019593  115.589549  1.227203e-22            MP
2      0.191194  120.868587  1.940104e-23           PER
3     -0.131751    5.792376  1.677524e-02          TRB%
4      0.020778   34.163988  1.472740e-08          AST%
5     -0.017100    3.039299  8.242208e-02          STL%
6     -0.103741    0.602606  4.382725e-01          BLK%
7     -0.000541    0.898366  3.440772e-01          TOV%
8      0.449204  348.202640  2.605952e-50            WS
9     -0.113195   12.459239  4.896738e-04           FG%
10    -0.052746    0.963739  3.271353e-01           3P%
11    -0.010610   10.523273  1.328903e-03           2P%
12     0.097793  241.778656  2.922237e-39           FTA
13    -0.021279   11.463594  8.164764e-04           FT%
14    -0.018787  217.242485  2.206644e-36           PTS
15     0.036833    2.817880  9.438935e-02        height
16     0.109843    5.266553  2.251498e-02        weight
17     0.182223   40.280332  9.391737e-10  years_played
18    -0.007549    6.364295  1.222540e-02       mvp_MVP
19     0.007549    6.364295  1.222540e-02   mvp_Not MVP

In [72]:
stat_df.to_csv('model_stats.csv')

In [60]:
print(model.coef_)

[[ 0.22690233 -0.01959273  0.19119359 -0.13175122  0.02077821 -0.01709998
  -0.10374103 -0.00054127  0.44920388 -0.11319496 -0.05274641 -0.01060984
   0.0977935  -0.02127863 -0.01878748  0.03683274  0.10984291  0.18222324
  -0.00754863  0.00754863]]

In [78]:

salary_stat_df = salary_stat_df['2018_Salary'].replace('[\$,]', '', regex=True).astype(float)
salary_stat_df.head(10)

0     2533488.0
1     5000000.0
2    25000000.0
3    33285709.0
4    28299399.0
5    34682550.0
6     2116955.0
7     5504419.0
8      174570.0
9       75000.0
Name: 2018_Salary, dtype: float64